@use '@/scss/mixins' as *;

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #2d2e32;
  --color-secondary: #767676;
  --color-red: #fe0569;
  --color-blue: #147efb;
  --color-grey: #c4c4c4;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.09);

  // Colors
  --red1: #ff4234;
  --black: #151515;
  --black2: #222;

  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black: #302e4d;
  --text-black: #504e70;
}

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  color: var(--color-primary);
  min-height: 100vh;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-min(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
	max-width: 100%;
	height: auto;
}

svg {
  fill: currentColor;
}

[stroke-width] {
  fill: none;
  stroke: currentColor;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}