.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.img {
  margin-top: 5px;
}

.text {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  margin-left: 5px;
}