.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  transform: skewX(-10deg);

  span::first-letter {
    color: var(--color-accent);
  }
}