.underlineText {
  display: inline-block;
  position: relative;
}

.underlineLine {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  stroke-width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}